<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Editar Direccion</h1>
        <form method="POST">
            {{forma.csrf_token}}
            <p>
                {{forma.nombre.label}} <br>
                {{forma.nombre(size=30)}}
            </p>
            <p>
                {{forma.direccion.label}} <br>
                {{forma.direccion(size=30)}}
            </p>
            <p>
                {{forma.enviar()}}
            </p>
        </form>
    </div>
</div>
</body>
</html>